nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        font-size: 20px;
        background: transparent;
        font-family: "Lato", sans-serif;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        padding: 1rem;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(65, 65, 65);
            color: white;
        }
    }
    h1 {
        font-size: 1rem;
        margin-right: 2rem;
    }
    a {
        color: rgb(65, 65, 65);
        background: transparent;
        font-size: 1.5vw;
        margin-top: 1rem;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background: transparent;
            color: rgb(116, 116, 116);
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
            font-size: 15px;
            padding: 0.3rem;
        }
        h1 {
            font-size: 1rem;
        }
        a {
            opacity: 0;
        }
    }
}
