.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
    }

    p {
        padding: 1rem;
    }
}
.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 10rem;
    width: 40%;
    svg {
        cursor: pointer;
    }
}

.track {
    width: 100%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.animate-track {
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    padding: 1rem;
    pointer-events: none;
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}

.loop-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    transform: translateY(0%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.loop-button-on {
    transform: translateY(-20%);
    #icon {
        animation: spin 0.5s ease-out forwards 1;
    }
}

.loop-button-circle {
    font-size: 0.5rem;
    margin-top: 0.3rem;
    transform: translateY(7rem);
    transition: all 0.3s ease;
    opacity: 0;
}

.loop-button-circle-on {
    transform: translateY(0%);
    opacity: 1;
}

.shuffle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    transform: translateY(0%);
}

.shuffle-button-on {
    transform: translateY(-20%);
}

.shuffle-button-circle {
    font-size: 0.5rem;
    transform: translateY(7rem);
    transition: all 0.3s ease;
    opacity: 0;
}

.shuffle-button-circle-on {
    transform: translateY(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 80%;
    }
}
